@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");

// Font Variables
$roboto: 'Roboto',
serif;

$clair:#efefef;

body {
    background-color: black;
    color: $clair;
}

.nav {


    &-titre {
        font-family: $roboto;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 1.5rem;
    }

    &-button {
        font-size: 1.5rem;
    }
}

.total {
    font-family: $roboto;
    font-size: 4rem;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, .5);
}

a {
    color: $clair;
}

.input-add {
    width: 100%;
    min-height: 4rem;
    background-color: black;
    border: 1px solid $clair;
    color: $clair;
}

.btn {
    color: black;
    padding: 7px;
    background-color: grey;
    font-size: 2rem;
    font-family: $roboto;
}