<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cryptoperso" />
    <meta name="keywords" content="crypto perso eval3" />
    <meta name="author" content="Cadot Michael" />
    <meta name="copyright" content="Cadot Michael" />
    <meta name="robots" content="noindex" />
    <meta name="Subject" content="Site">
    <meta name="Identifier-Url" content="study3.cadot.info/index.php">
    <meta name="Reply-To" content="webmestre@cadot.info">
    <meta name="Category" content="crypto">
    <meta name="description" content="Gestion de cryptos" />
    <title>{% block title %}Gestion de crypto{% endblock %}</title>
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <div class="container">
      
            {% block body %}
            {% endblock %}
      
    </div>
</body>

</html>